:root {
    --color: #9B2D30;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.create_new_task_box {
    width: 85vw;
    padding: 20px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.create_new_task_button {
    width: 350px;
    height: 50px;
    background-color: var(--color);
    border-radius: 20px;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.work_box {
    width: 85vw;
    padding: 20px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.columns {
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 20px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    align-items: center;
    gap: 20px;
}

.task {
    width: 90%;
    padding: 20px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.task_back {
    width: 90%;
    padding: 20px;
    box-shadow: 0 5px 10px 2px rgba(200, 30, 40, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create_new_task_input-block {
    width: 80%;
    padding: 20px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


.input {
    width: 90%;
    padding: 15px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
}

textarea {
    resize: vertical;
    width: 100%;
}

.redacted_button {
    width: 80%;
    background-color: var(--color);
    border-radius: 20px;
    color: white;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

.none-redacted {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.saveRedacted_button {
    width: 80%;
    background-color: darkgreen;
    border-radius: 20px;
    color: white;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

.edit_input {
    width: 90%;
    padding: 5px;
    border-radius: 10px;
}

.next {
    padding: 10px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid darkgreen;
    cursor: pointer;
}

.back {
    padding: 10px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid darkred;
    cursor: pointer;
}

.top_button {
    display: flex;
}

.back_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.exit {
    padding: 10px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid darkred;
    cursor: pointer;
}

.back_div_exit {
    display: flex;
    gap: 10px;
    align-items: center;
}

.back_text {
    color: var(--color);
    font-weight: bold;
    font-size: 20px;
}

.in_dead_line_p {
    font-weight: bold;
    font-size: 23px;
}

.task_complete {
    width: 90%;
    padding: 20px;
    box-shadow: 0 5px 10px 2px rgba(12, 200, 10, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add_task {
    width: 280px;
    height: 35px;
    background-color: var(--color);
    border-radius: 20px;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}