:root {
    --color: #9B2D30;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.create_new_task_box {
    width: 85vw;
    padding: 20px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.create_new_task_button {
    width: 350px;
    height: 50px;
    background-color: var(--color);
    border-radius: 20px;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.work_box {
    width: 85vw;
    padding: 20px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.columns {
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 20px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    align-items: center;
    gap: 20px;
}

.task {
    width: 90%;
    padding: 20px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create_new_task_input-block {
    width: 80%;
    padding: 20px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


.input {
    width: 90%;
    padding: 15px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
}

textarea {
    resize: vertical;
    width: 100%;
}

.redacted_button {
    width: 80%;
    background-color: var(--color);
    border-radius: 20px;
    color: white;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.none-redacted {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.saveRedacted_button {
    width: 80%;
    background-color: darkgreen;
    border-radius: 20px;
    color: white;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.edit_input {
    width: 90%;
    padding: 5px;
    border-radius: 10px;
}